<form>
  <div class = "element-form">
     <div class="form-group">
       <div class="form-group">
         <label for="exampleFormControlSelect1" style="font-size: 2rem;">Teams</label>
         <button class="btn btn-default" style="background-color: chartreuse; position: fixed; top:451px; left: 230px">🔄</button>
         <select class="form-control" id="exampleFormControlSelect1">
         </select>
       </div>
       <button class="btn btn-default-a">Add</button>
       <button class="btn btn-default-a" style="background-color: red">Delete</button>
     </div>
   </div>
 </form>
