<div class="box-plaseholder">
  <ul>
    <li>
        <input type="text" class="form-control" placeholder="Search:">
    </li>
    <li>
        <span class="magnifier">🔍</span>
    </li>
    <li>
        <span class="gear-span-el" (click)="toggleForm()">&#9881;</span>
    </li>
  </ul>
</div>
<div class = "options-form" id="options">
  <div class="checkbox input-forms">
      <input type="checkbox" class="checkbox-forms" name="vehicle1" value="Bike">New<br>
      <input type="checkbox" class="checkbox-forms" name="vehicle1" value="Bike">New<br>
  </div>
</div>
