<Head>
</Head>
<body>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
      <button class="btn btn-default">Update</button>
      <button class="btn btn-default">Delete</button>
    </article>
  </div>

  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="wall">
    <article class="wall-post wall-post-a">
      <header class="wall-post-header">
        New Event!
      </header>
      <div class="separator">
      </div>
      <div class="wall-post-content">
        Whats the plan here?
      </div>
    </article>
  </div>
  <div class="search-plaseholder">
  </div>
</body>

