<form>
  <div class = "element-form">
     <div class="form-group">
       <div class="form-group">
         <label for="labelForm" style="font-size: 2rem; text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);">Roles</label>
         <select class="form-control" id="roles-list" ng-model="mySel">
           <option *ngFor="let role of roles; let i = index" value="{{i}}">{{role.Name}}</option>
         </select>
       </div>
       <button class="btn btn-default-a" type="button" (click)="openGreyground();openAddBox();">Add</button>
       <button class="btn btn-default" type="button" (click)="openGreyground();openUpdateBox();getCurrentRole();" style="position: fixed; top:451px; left: 910px; font-size: 1.1rem; text-align: center">Update</button>
       <button class="btn btn-default-a" type="button" (click)="openGreyground();openDeleteBox();getCurrentRole();" style="background-color: red">Delete</button>
     </div>
   </div>
   <div class="background-handler" id="greygroundR">
     <div class="add-box" id="addboxR">
         <label for="labelForm" style="font-size: 2rem; margin: 0px auto;">Add role</label>
         <input style="margin: 5px ;" type="text" class="form-control" id="addInputRole" placeholder="Name:">
         <button type="button" (click)="addRole()" class="btn btn-default-a">Confirm</button>
         <button type="button" (click)="closeGreyground();closeAddBox();refreshPage();" class="btn btn-default-a">Close</button>
     </div>
     <div class="update-box" id="updateboxR">
         <label for="labelForm" style="font-size: 2rem; margin: 0px auto;">Update role {{roles[tempId].Name}}</label>
         <input style="margin: 5px;" type="text" class="form-control" id="updateInputRole" placeholder="New Name:">
         <button type="button" (click)="updateRole();closeUpdateBox();closeGreyground();" class="btn btn-default-a">Confirm</button>
         <button type="button" (click)="closeGreyground();closeUpdateBox();" class="btn btn-default-a">Cancel</button>
     </div>
     <div class="delete-box" id="deleteboxR">
         <label for="labelForm" style="font-size: 2rem; margin: 0px auto;">Delete role {{roles[tempId].Name}}</label>
         <button type="button" (click)="deleteRole();closeGreyground();closeDeleteBox();refreshPage();" class="btn btn-default-a">Confirm</button>
         <button type="button" (click)="closeGreyground();closeDeleteBox();" class="btn btn-default-a">Cancel</button>
     </div>
     </div>
 </form>

