<body>
    <div class="wall">
        <article class="wall-post wall-post-a">
          <header class="wall-post-header">
            New Event!
          </header>
          <div class="separator">
          </div>
          <div class="wall-post-content">
            Whats the plan here?
          </div>
        </article>
      </div>

      <div class="wall">
          <article class="wall-post wall-post-a">
            <header class="wall-post-header">
              Event
            </header>
            <div class="separator">
            </div>
            <div class="wall-post-content">
              POST
            </div>
          </article>
        </div>
</body>
