ul {
  position: fixed;
  top: 0px;
  width: 1370px;
  font-size: 28px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-shadow: 0 2px 3px rgb(0, 0, 0.003);
  list-style-type: none;
  margin: 0px 0px;
  padding: 0;
  overflow: hidden;
  background-color: green;
  background-image: linear-gradient(rgb(97, 96, 42),rgb(110, 240, 98));
}

li {
  float: left;
  margin-left: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(27, 27, 15);
}

body {
  background-color: transparent;
  margin-top: 60px;
}

span {
  font-size: 180%;
  cursor: pointer;
  position: fixed;
  left: 1300px;
  top: 600px;
}

.search-plaseholder{
  position: fixed;
  top: 80px;
  left: 980px;
}
