<body>
  <ul>
    <li *ngIf="userService.roleMatch(['Editor'])">
      <app-side-navigation></app-side-navigation>
    </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='[""]'>
          Home
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' class="dropdown">
        <a [routerLink]='["/app-bet-box"]' class="dropbtn">
          Bets
          </a>
          <div *ngIf="userService.roleMatch(['User'])" class="dropdown-content" style="width: 81px;">
              <a [routerLink]='["/app-my-bets-box"]'>My bets</a>
          </div>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/app-event-box"]'>
          Events
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' class="dropdown">
        <a [routerLink]='["/app-persons"]' class="dropbtn">
          Users
        </a>
        <div *ngIf="userService.roleMatch(['User'])" class="dropdown-content">
            <a [routerLink]='["/app-my-profile"]'>My account</a>
        </div>
      </li>
      <li [routerLinkActive]='["link-active"]' style="float:right; position: relative; left: -20px">
        <a *ngIf="userService.roleMatch(['User']) === false" [routerLink]='["/app-registration"]'>
          Register
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' style="float:right;position: relative; left: -20px">
        <a *ngIf="userService.roleMatch(['User']) === false" [routerLink]='["/app-authorization"]'>
          Got Account?
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' style="float:right;position: relative; left: -20px">
          <a [routerLink]='["/app-authorization"]' *ngIf="userService.roleMatch(['User'])" (click)="Logout();">
            Logout
          </a>
        </li>
      <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/app-main-form-component"]'>
            Info
          </a>
      </li>
      <li *ngIf="userService.roleMatch(['User'])" [routerLinkActive]='["link-active"]' style="float:right;position: relative; left: -20px">
        <a [routerLink]='["/app-my-profile"]'>
          {{this.user}}
        </a>
    </li>
  </ul>
  <span (click)="bringWindowUp()">🔺</span>
</body>
<!-- *ngIf="userService.roleMatch(['User']) === false" -->
